<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Email Confirmation</title>
    </head>
    <body>
        <h2>Hello <span th:text="${name}"></span></h2>
        <p th:text="${content}"></p>
    </body>
</html>